@tailwind base;
@tailwind components;
@tailwind utilities;

/* themes */
@layer base{
  :root{
    --MainText-color-light:#000;
    --MainText-color-dark:#fff;
    --MainBg-color-light:#fff;
    --SecBg-color-light:#aebcc9;
    --MainBg-color-dark:#24292e;
    --SecBg-color-dark:#293641;
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
